* text=auto
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
[2402-CS251][[:space:]]2022926185[[:space:]](05)[[:space:]]MUHAMMAD[[:space:]]HAIKAL[[:space:]]BIN[[:space:]]MOHAMAD[[:space:]]MOSLIM[[:space:]]System.zip filter=lfs diff=lfs merge=lfs -text
